.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.MuiCard-root:hover{
	box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}
.leaflet-container {
	height: 600px;
	width: 100%;
}
.coordInputs {
	width: 50%;
	margin: 0 auto;
}

.buttons:hover {
	background-color: #2e3b55;
	color: white;
}
/* .addRemove{
	background-color: #2E3B55;
	color: white;
} */
.buttons {
	background-color: #0d3482;
	font-size: 24px;
	padding: 14px 40px;
	border-radius: 12px;
	border: 2px solid #2e3b55;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	color: white;
}

.buttonClass {
	padding: 20px;
	width: 50%;
}

.links {
	margin: 10px;
}

.buttons:hover {
	background-color: #2e3b55;
	color: white;
}
/* .addRemove{
	background-color: #2E3B55;
	color: white;
} */
.buttons {
	background-color: #0d3482;
	font-size: 24px;
	padding: 14px 40px;
	border-radius: 12px;
	border: 2px solid #2e3b55;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	color: white;
}

.MuiAppBar-colorPrimary {
	color: #fff;
	background-color: #2e3b55;
}
/* .user{
  margin-left: 450px;
} */
.App-header {
	background-image: url('./asl_banner2.jpeg');
	background-size: 100% 400px;
	background-repeat: no-repeat;
	background-color: #004d43;
	height: 300px;
	padding: 20px;
	color: white;
}

/* div {
	margin: 0 auto;
} */
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
}
h1 {
	text-align: center;
}
.intro {
	text-align: center;
}
h2 {
	text-align: center;
}
.App-link {
	color: #61dafb;
}
.MuiToolbar-regular {
    min-height: 64px;
    margin: auto;
    width: 50%;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.body-modal {
	height: 420px;
	width: 420px;
}
.AccountInfo {
	margin: 0 auto;
	text-align: center;
}

.loading {
	margin: 0 auto;
	text-align: center;
}
.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation a:link,
.navigation a:visited {
	color: white;
	text-decoration: none;
}

.active {
	font-weight: bold;
	color: #0895c9 !important;
}
a {
	color: #004d43;
}

.error {
	font-weight: bold;
	color: red !important;
}

.forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
	margin-left: 5px;
	color: #069;
}

.forgotPassword:hover {
	text-decoration: none;
	color: red;
}

.title {
	font-size: xx-large;
}

.name {
	font-size: larger;
	font-weight: bolder;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.score-section {
	display: flex;
	font-size: 24px;
	align-items: center;
	color: white;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
	width: 100%;
	position: relative;
	color: white;
  }
  
  .question-count {
	margin-bottom: 20px;
  }
  
  .question-count span {
	font-size: 28px;
  }
  
  .question-text {
	margin-bottom: 12px;
  }
  
  .timer-text {
	background: rgb(230, 153, 12);
	padding: 15px;
	margin-top: 20px;
	margin-right: 20px;
	border: 5px solid rgb(255, 189, 67);
	border-radius: 15px;
	text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  
  button {
	width: 100%;
	font-size: 16px;
	color: #ffffff;
	background-color: #252d4a;
	border-radius: 15px;
	display: flex;
	padding: 5px;
	justify-content: flex-start;
	align-items: center;
	border: 5px solid #234668;
	cursor: pointer;
  }
  
  .correct {
	background-color: #2f922f;
  }
  
  .incorrect {
	background-color: #ff3333;
  }
  
  .buttonTest:hover {
	background-color: #555e7d;
  }
  
  button:focus {
	outline: none;
  }
  
  button svg {
	margin-right: 5px;
  }
  .testBody {
	margin: 25px auto;
	background-color: #252d4a;
	width: 850px;
	min-height: 200px;
	height: min-content;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: space-evenly;
  }


  /* for pagination*/

  .pagination {
	margin: 15px auto;
	display: flex;
	list-style: none;
	outline: none;
	margin-left: 450px;
	margin-top: 50px;
	font-size: 1.7rem;
  }
  .pagination > .active > a{
	background-color: rgb(255, 189, 67) ;
	border-color: #252d4a ;
	color: #252d4a;
  }
  .pagination > li > a{
	border: 1px solid #252d4a ;
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: rgb(255, 189, 67) ;
	border-color: #252d4a;
	outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
	color: #252d4a
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
	border-radius: unset
  }
  
  /*responsive navbar */
  .sidebar {
	margin: 0;
	margin-left:11px;
	padding: 0;
	width: 200px;
	background-color: #252d4a;
	position:absolute;
	height: 100%;
	overflow: auto;
	color:white;
	font-size: 1.3rem;
  }
  
  .sidebar a {
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
	border-bottom: solid 1px rgb(255, 189, 67);
  }
   
  .sidebar a.actives {
	background-color: rgb(255, 189, 67);;
	color: #252d4a;
	font-weight:700;
  }
  
  .sidebar a:hover:not(.actives) {
	background-color: rgb(255, 189, 67);
	color: #252d4a;
  }
  
  div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
	.sidebar {
	  width: 100%;
	  height: auto;
	  position: relative;
	}
	.sidebar a {float: left;}
	div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
	.sidebar a {
	  text-align: center;
	  float: none;
	}
  }

  /*Video placement */

  .videoLesson{
	  margin-left:280px;
  }

  .imageLesson{
	  display:inline; 
	  margin-left:60px; 
	  border: solid 1px #252d4a;
  }

  .imageLabel{
	  margin-top: 30px;
	  display: inline;
	  margin-left:280px;
  }